body {
  background: #e5e5e5;
  margin: 0 auto;
}

/***********HEADER****************** */
.encabezado,
.conth1,
.conth2,
footer {
  margin: auto;
}

.encabezado {
  background: #e5e5e5;
  height: 189px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conth1,
.contenedor h2 {
  background-color: #c4c4c4;
}

.conth1 {
  height: 60px;
  width: 1440px;
  top: 188px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ***************MAIN****************** */
.contenedor {
  background-color: white;
  margin: auto;
  width: 1440px;
  padding: 40px 0 60px 0;
}

.conth2 {
  /* height: 30px; */
  width: 1041px;
  left: 225px;
  top: 352px;
}
h1 {
  font-size: 35px;
  letter-spacing: 12px;
}

h1,
h2 {
  text-transform: uppercase;
  color: #005677;
  font-weight: 700;
}

h2 {
  letter-spacing: 5px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 4px;
  height: 30px;
}

.contdl {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

dd {
  margin-inline-start: 76px;
}

dd,
li p {
  font-family: "Lato", sans-serif;
}

span {
  font-weight: 700;
  margin-right: 5px;
}

/* FOOTER */

footer {
  height: 37px;
  width: 1440px;
  top: 987px;
  background: #005677;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h2 {
  color: white;
}

footer img {
  margin-left: 20px;
}

span {
  font-weight: 700;
}

dd {
  margin-inline-start: 76px;
}
