.headercontenedor {
  margin: 0 auto;
  max-width: $maxw;

  &_top {
    display: flex;
    justify-content: space-around;
    background-color: $ColorPrimario;
  }
  &_bottom {
    display: flex;
    justify-content: space-around;
    background: $ColorSecundario;
    h1 {
      font-family: $fon1;
      font-size: 35px;
      color: $ColorTerceario;
      letter-spacing: 9.5px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
    }
  }
}
