$maxw: 1440px;
$fon1: "'Times New Roman', Roboto", sans-serif, 
;
$ColorPrimario: #E5E5E5;
$ColorSecundario: #C4C4C4;
$ColorTerceario: #005677;
$ColorCuaternario: #000000;
$ColorQuinario: #FFFFFF;
$backgroundImg: rgb(236, 221, 221);


